*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
/SearchHadis Service/nbproject/private/
/SearchHadis Service/build/
/SearchHadis Client/nbproject/private/
/SearchHadis Client/build/
/SearchHadis Service/dist/
/SearchHadis Client/dist/
/BuatIndeks/nbproject/private/
/BuatIndeks/build/
/AFCMatchData/nbproject/private/
/AFCMatchData/build/