.indo {
    font-size:small;
}

.indo2 {
    font-size:medium;
}

.main {
    margin-left:30%;
    margin-right:30%;
    margin-top:0;
}

.pagination {
    margin-top: 10px;
}

.pagination a {
    border: 1px solid #ddd;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.search {
    text-align: center;
}

.text {
    margin-bottom:0.2em;
    padding:3px;
    width:100%;
}

.topic {
    color:green;
    margin:0;
    text-decoration: underline;
}

#searchbar {
    border:3px solid black;
    height:22px;
}

#searchbar2 {
    border:3px solid black;
    height:22px;
    width: 80%
}

#searchbutton {
    background-color:white;
    border:3px solid black;
    height:30px;
    width:150px;
}

#searchbutton2 {
    background-color:white;
    border:3px solid black;
    height:34px;
    width:17%;
}

a {
    color:inherit;
    cursor:pointer;
    text-decoration:none;
}

body {
    font-family:Calibri;
    margin:0;
}

h1 {
    text-align:center;
}