<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addRelevantDocs</servlet-name>
        <servlet-class>rf.addRelevantDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setRelevant</servlet-name>
        <servlet-class>rf.setRelevant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculateRf</servlet-name>
        <servlet-class>rf.calculateRf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataHadis</servlet-name>
        <servlet-class>hadis.getDataHadis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>search.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGT</servlet-name>
        <servlet-class>evaluation.CreateGT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRelevantDocs</servlet-name>
        <url-pattern>/addRelevantDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setRelevant</servlet-name>
        <url-pattern>/setRelevant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculateRf</servlet-name>
        <url-pattern>/calculateRf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataHadis</servlet-name>
        <url-pattern>/getDataHadis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGT</servlet-name>
        <url-pattern>/CreateGT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
