<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchBIM</servlet-name>
        <servlet-class>search.SearchBIM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOkapi</servlet-name>
        <servlet-class>search.SearchOkapi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBIM</servlet-name>
        <url-pattern>/SearchBIM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOkapi</servlet-name>
        <url-pattern>/SearchOkapi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
